<div class="row justify-content-center mt-5">
  <section class="col-lg-5">
    <form [formGroup]="formGroup" (submit)="save()" class="form">
      <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text"
               formControlName="name"
               [class]="'form-control '.concat(verifyFieldInvalid('name') ? 'is-invalid' : '')"
               id="name"/>
        <div class="invalid-feedback" *ngIf="formGroup.get('name')?.hasError('required')">
          Name is required
        </div>
        <div class="invalid-feedback" *ngIf="formGroup.get('name')?.hasError('maxlength')">
          At least 20 characteres are required
        </div>
      </div>
      <div class="mb-3">
        <label for="lastname" class="form-label">Lastname</label>
        <input type="text"
               formControlName="lastname"
               [class]="'form-control '.concat(verifyFieldInvalid('lastname') ? 'is-invalid' : '')"
               id="lastname">
        <div class="invalid-feedback" *ngIf="formGroup.get('lastname')?.hasError('required')">
          Lastname is required
        </div>
        <div class="invalid-feedback" *ngIf="formGroup.get('lastname')?.hasError('maxlength')">
          At least 20 characteres are required
        </div>
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">E-mail</label>
        <input type="email"
               formControlName="email"
               [class]="'form-control '.concat(verifyFieldInvalid('email') ? 'is-invalid' : '')"
               id="email">
        <div class="invalid-feedback" *ngIf="formGroup.get('email')?.hasError('required')">
          E-mail is required
        </div>
        <div class="invalid-feedback" *ngIf="formGroup.get('email')?.hasError('maxlength')">
          At least 20 characteres are required
        </div>
      </div>
      <div class="mb-3">
        <label for="telephone" class="form-label">Telephone</label>
        <input type="text"
               formControlName="telephone"
               [class]="'form-control '.concat(verifyFieldInvalid('telephone') ? 'is-invalid' : '')"
               id="telephone">
        <div class="invalid-feedback" *ngIf="formGroup.get('telephone')?.hasError('required')">
          Telephone is required
        </div>
        <div class="invalid-feedback" *ngIf="formGroup.get('telephone')?.hasError('maxlength')">
          At least 20 characteres are required
        </div>
      </div>
      <hr class="mt-4"/>
      <h3>Location</h3>
      <div formGroupName="location">
        <div class="mb-3">
          <label for="address" class="form-label">Address</label>
          <input type="text"
                 formControlName="address"
                 [class]="'form-control '.concat(verifyFieldInvalid('location.address') ? 'is-invalid' : '')"
                 id="address">
          <div class="invalid-feedback" *ngIf="formGroup.get('location.address')?.hasError('required')">
            Address is required
          </div>
          <div class="invalid-feedback" *ngIf="formGroup.get('location.address')?.hasError('maxlength')">
            At least 20 characteres are required
          </div>
        </div>
        <div class="mb-3">
          <label for="zipcode" class="form-label">ZIP Code</label>
          <input type="number"
                 formControlName="zipcode"
                 [class]="'form-control '.concat(verifyFieldInvalid('location.zipcode') ? 'is-invalid' : '')"
                 id="zipcode">
          <div class="invalid-feedback" *ngIf="formGroup.get('location.zipcode')?.hasError('required')">
            ZIP Code is required
          </div>
          <div class="invalid-feedback" *ngIf="formGroup.get('location.zipcode')?.hasError('maxlength')">
            At least 8 characteres are required
          </div>
        </div>
        <div class="mb-3">
          <label for="address" class="form-label">Number</label>
          <input type="text"
                 formControlName="number"
                 [class]="'form-control '.concat(verifyFieldInvalid('location.number') ? 'is-invalid' : '')"
                 id="number">
          <div class="invalid-feedback" *ngIf="formGroup.get('location.number')?.hasError('required')">
            Number is required
          </div>
          <div class="invalid-feedback" *ngIf="formGroup.get('location.number')?.hasError('maxlength')">
            At least 20 characteres are required
          </div>
        </div>
        <div class="mb-3">
          <label for="address" class="form-label">City</label>
          <input type="text"
                 formControlName="city"
                 [class]="'form-control '.concat(verifyFieldInvalid('location.city') ? 'is-invalid' : '')"
                 id="city">
          <div class="invalid-feedback" *ngIf="formGroup.get('location.city')?.hasError('required')">
            City is required
          </div>
          <div class="invalid-feedback" *ngIf="formGroup.get('location.city')?.hasError('maxlength')">
            At least 20 characteres are required
          </div>
        </div>
      </div>

      <input type="submit" class="btn btn-primary mt-4" value="Salvar">
    </form>
  </section>
</div>
